* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    @include set-text-size($body);
    font-family: $font-barlow;
}